.design{
    height: 150px;
    width: 150px;
   background-color: rgb(104, 243, 197);
   box-shadow: 0cqi;
   border: 1px solid rgb(209, 20, 13);
   box-shadow: inset;
    text-align: center;
   
   }