body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
  }
  .mainDiv {
    background-color: rgb(241, 230, 235);
    max-height: 950px;
    width: 500px;
    border-radius: 2%;
    border: 1px solid #f1dfdf;
    box-shadow: 0 50px 50px rgba(34, 10, 10, 0.568);
  }
  .inputDiv {
    margin-top: 20px;
    margin-left: 50px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
  }
  .btn {  
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10%;
    font-size: 16px;
    padding: 8px 10px;
    border-style: none;
    background-image: linear-gradient(120deg, #2ed0d0 0%, #00ff22 100%);
  }
  btn:hover {
    background-image: linear-gradient(120deg, #8ddfdf 0%, #71f583 100%);
  }
  .input {
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-width: 3px;
    border-radius: 5%;
  }
  input:hover {
    background-color: #f7edf7;
  }
  p {
    color: red;
    margin-left: 50px;
  }
  span {
    color: #3300ff;
    text-decoration: underline;

  }
  span:hover {
    color: #f43737;
  }
  