body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.mainDiv {
  margin-top: 80px;
  background-color: rgb(241, 230, 235);
  max-height: 950px;
  width: 500px;
  border-radius: 2%;
  border: 1px solid #f1dfdf;
  box-shadow: 0 50px 50px rgba(34, 10, 10, 0.568);
}
.mainDiv1 {
  margin-top: 40px;
  background-color: rgb(197, 231, 236);
  max-height: 1000px;
  max-width: 1800px;
  border-radius: 2%;
  border: 1px solid #f1dfdf;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.inputDiv {
  margin-top: 20px;
  margin-left: 50px;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h3 {
  text-align: start;
  font-size: 20px;
}
.httpError {
  text-align: center;
  font-size: 40px;
  color: red;
}
.btn {  
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10%;
  font-size: 16px;
  padding: 8px 10px;
  border-style: none;
  background-image: linear-gradient(120deg, #2ed0d0 0%, #00ff22 100%);
}
.btnEdit {  
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10%;
  font-size: 16px;
  padding: 8px 10px;
  border-style: none;
  background-image: linear-gradient(120deg, #2ed0d0 0%, #00ff22 100%);
}
.btnCancel {  
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10%;
  font-size: 16px;
  padding: 8px 10px;
  border-style: none;
  border-color: #ff0000;
  background-image: linear-gradient(120deg, #eb8db1 0%, #ff0000 100%);
}
.input {
  margin-top: 10px;
  height: 40px;
  width: 400px;
  border-width: 3px;
  border-radius: 5%;
}
.modalInput {
  margin-top: 10px;
  height: 40px;
  width: 300px;
  border-width: 3px;
  border-radius: 5%;
}
input:hover {
  background-color: #f7edf7;
}
p {
  color: red;
  margin-left: 50px;
}
btn:hover {
  background-image: linear-gradient(120deg, #8ddfdf 0%, #71f583 100%);
}
span {
  color: #3300ff;
  text-decoration: underline;

}
span:hover {
  color: #f43737;
}
.btn2 {
  margin-left: 120px;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 8px 10px;
  border-style: none;
  background-color: rgb(241, 230, 235);
}
.btn3 {
  margin-left: 120px;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 8px 10px;
  border-style: none;
  background-color: rgb(241, 230, 235);
}
.btn4 {
  margin: 15px;
  font-size: 16px;
  padding: 8px 10px;
  border-style: none;
  border-radius: 5%;
  background-color: rgb(234, 199, 215);
}
.welcome {
  margin-top: 30px;
  font-size: 80px;
  background-image: linear-gradient(120deg, #57d02e 10%, #c5d02e 50%, #e600ff 90%);
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.details {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
  font-size: 80px;
  color: red;
}
.round {
  margin-top: 50px;
  border-radius: 50%;
}
.profileDiv {
  background-color: #caefef;
  height: 900px;
  width: 900px;
}
table {
  width: 100%;
  border: #827d7d;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
}
thead {
  text-align: center;
}
tr {
  border-style: double;
  border: #000000;
}
th {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}
td {
  border-style: double;
  border: #000000;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
tbody tr:hover {
  background-color: #f0e0ed;
}
.httpError {
  color: red;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}
.pagination {
  float: right;
  margin-top: 25px;
}
.btnPrevNext {  
  margin-bottom: 10px;
  margin-left: 2px;
  border-radius: 10%;
  height:40px;
  max-width: 90px;
  /* padding: 8px 10px; */
  border-color: #ffffff;
  background-image: linear-gradient(120deg, #bbefef 10%, #f99aeb 100%);
}
.btnNumbers {  
  margin-bottom: 10px;
  margin-left: 2px;
  border-radius: 10%;
  height:40px;
  width: 40px;
  padding: 8px 10px;
  border-color: #ffffff;
  background-image: linear-gradient(120deg, #bbefef 10%, #f99aeb 100%);
}
.btnNumbers:hover {
  border-color: #000000;
}
.btnPrevNext:hover {
  border-color: #000000;
}
.arrowBtn {
  border-style: none;
}
.btnAction {
  margin-bottom: 10px;
  border-radius: 10%;
  font-size: 16px;
  padding: 5px 8px;
  border-style: none;
  background-image: linear-gradient(120deg, #45dfdf 0%, #1df339 100%);
}
