.fullBox1 {
    height: 460px;
    background-color: black;
}
.fullBox2 {
    width: 50%;
}

#firstBox {
    background-color: red;
    
}

#secondBox {
    background-color: green;
}

#thirdBox {
    background-color: yellow;
}

#forthBox {
    background-color: blue;
}
